$primary: #3292a6;
$primary-overlay: rgba(50,146,166, 0.8);
$dark-overlay:rgba(0,0,0,0.9);

.navbar{
  box-shadow: 2px 2px 5px $primary;
  opacity: 0.9;
  background: #fff;

  .nav-item{
    font-size: 1.4rem;
    padding-right: 20px;
  }

}

#home-section{
  background:url('../img/home.jpg') no-repeat;
  background-size:cover;

  min-height:300px;

  .dark-overlay{
    background-color: $dark-overlay;
    color: #fff;
    min-height: 300px;
  }
  #myInput{
    color: #000;
  }
}

#showcase{
  background:url('../img/image1.jpg') no-repeat;

  .row{
    background-color: rgba(0,0,0,0.6);
  }
  .carousel-item{
  height:300px;
 }
}

#college-list{
  .card{
    height: 350px;
  }
  .card-img-top{
    height: 200px;
  }
}


footer#main-footer{
  background:#000;
  color:#fff;
}

#sign-up{
  background:url('../img/login_back.jpg') no-repeat;
  background-size:cover;
  min-height: 750px;
  .dark-overlay{
    background-color: rgba(0,0,0,0.9);
    min-height: 750px;
  }
}
